[submodule "ColBERT"]
	path = ColBERT
	url = git@github.com:stanford-futuredata/ColBERT.git
[submodule "pisa"]
	path = pisa
	url = git@github.com:pisa-engine/pisa.git
[submodule "splade_server/splade"]
	path = splade_server/splade
	url = git@github.com:naver/splade.git
